
@import "../../mixins.scss";
@import "../../variables.scss";

.MuiButtonBase-root.scroll-to-top {
  @include flex-all-center;
  position: fixed;
  opacity: 0;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  pointer-events: none;
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 0;
  transition: opacity 0.3s ease-in-out;

  @media (max-width: 768px) {
    min-width: 48px;
    width: 48px;
    height: 48px;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}