// Color variables
@mixin flex-all-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin fullscreen {
	width: 100%;
	height: 100vh;
	height: 100dvh;
}

@mixin fontSize32 {
	font-size: 3.2rem;
	font-size: clamp(4vh, 3.2rem, 4vh);
}

@mixin show-animation {
	opacity: 0;
	animation: show 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;

	@keyframes show {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
