name: Deploy to cPanel

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install & Build
        run: |
          npm ci
          npm run build

      # Upload the contents of dist/ to your docroot via SFTP
      - name: SFTP Deploy
        uses: jakirseu/SFTP-Action-cPanel@main
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          source: ./dist/*
          target: /home/victimcr/me.victim-crasher.com/
